@import "tailwindcss";

@theme{
      --color-white:#FFFFFF;
      --color-black:#28282B;
      --color-light:#f5f5f5;
      --color-dark:#4d606e;
      --color-alter:#f73859;
      --color-primary:#3fbac2;
      
      --color-shadow:#d3d4d8;
}